<nz-layout class="main">
  <ul nz-menu [nzMode]="'horizontal'" [nzTheme]="'dark'">
    <li nz-menu-item>
      <i nz-icon type="api"></i> 新增连接项目
    </li>
  </ul>
  <nz-layout>
    <nz-sider>
      <nz-tree [nzData]="nodes">
        <ng-template #nzTreeTemplate let-node>
          <span class="custom-node" [ngSwitch]="node.origin.type">
            <ng-container *ngSwitchCase="'project'">
              <i nz-icon type="project"></i>
              <span class="node-name">{{node.title}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'database'">
              <i nz-icon type="database"></i>
              <span class="node-name">{{node.title}}</span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <i nz-icon type="file"></i>
              <span class="node-name">{{node.title}}</span>
            </ng-container>
          </span>
        </ng-template>
      </nz-tree>
    </nz-sider>

    <nz-content>

    </nz-content>
  </nz-layout>
</nz-layout>
