/* You can add global styles to this file, and also import other style files */
html, body, app-root, nz-layout.main {
  height: 100%;
}

nz-sider {
  background-color: #fff !important;
}

.custom-node {
  cursor: pointer;
  line-height: 24px;
  display: inline-block;
  margin: 0 -1000px;
  padding: 0 1000px;
}

.node-name {
  margin-left: 0.5rem;
  font-weight: bold;
}
