/* You can add global styles to this file, and also import other style files */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

nz-layout, nz-content {
  height: 100%;
}

nz-content {
  position: relative;
}

.main {
  display: flex;
  height: calc(100% - 48px);
  background-color: #fff;
  overflow: hidden;
}

.ant-list-item {
  padding: 12px;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, .2);
  margin: 16px 28px 16px 0;
  float: left;
}
